# Ignore a bunch of files:
*.html
*.json
*.handlebars
*.css
.bablerc

# Currently not linted
frontend/.testcaferc.js
frontend/api/middleware/webpack-middleware.js
frontend/api/slack-client.js
frontend/bin/env.js
frontend/bin/upload-file.js
frontend/common/Component.js
frontend/common/useInfiniteScroll.ts
frontend/common/useSearchThrottle.ts
frontend/common/useThrottle.ts
frontend/common/utils/base/_utils.js
frontend/docker-compose.yml
frontend/e2e/cafe/environment.cafe.js
frontend/e2e/cafe/project.cafe.js
frontend/e2e/cafe/segments.cafe.js
frontend/e2e/helpers.cafe.js
frontend/e2e/index.cafe.js
frontend/e2e/init.cafe.js
frontend/next.config.js
frontend/web/components/UserGroupList.tsx
frontend/web/components/modals/ChangeRequestModal.js
frontend/web/components/modals/CreateGroup.js
frontend/web/components/pages/ChangeRequestPage.js
frontend/web/components/pages/ProjectSettingsPage.js
frontend/web/project/libs.js
frontend/web/static/javascript/highlight.min.js
frontend/web/static/javascript/jquery.min.js
frontend/web/static/javascript/msal.min.js
frontend/web/static/javascript/tether.min.js
frontend/web/styles/3rdParty/_bootstrap.scss
frontend/web/styles/3rdParty/_hljs.scss
frontend/web/styles/3rdParty/_index.scss
frontend/web/styles/3rdParty/_react-select.scss
frontend/web/styles/_variables.scss
frontend/web/styles/components/_aside.scss
frontend/web/styles/components/_audit.scss
frontend/web/styles/components/_chip.scss
frontend/web/styles/components/_color-block.scss
frontend/web/styles/components/_input.scss
frontend/web/styles/components/_list-item.scss
frontend/web/styles/components/_paging.scss
frontend/web/styles/components/_panel.scss
frontend/web/styles/components/_switch.scss
frontend/web/styles/components/_toast.scss
frontend/web/styles/flexbox/_index.scss
frontend/web/styles/flexbox/_mixins.scss
frontend/web/styles/mixins/box-shadow-mixin.scss
frontend/web/styles/mixins/custom-scrollbar.scss
frontend/web/styles/mixins/transition-mixin.scss
frontend/web/styles/new/_variables-new.scss
frontend/web/styles/project/_PricingPage.scss
frontend/web/styles/project/_TermsPoliciesPage.scss
frontend/web/styles/project/_UserPage.scss
frontend/web/styles/project/_alert.scss
frontend/web/styles/project/_base.scss
frontend/web/styles/project/_card.scss
frontend/web/styles/project/_collapsible.scss
frontend/web/styles/project/_forms.scss
frontend/web/styles/project/_icons.scss
frontend/web/styles/project/_index.scss
frontend/web/styles/project/_layout.scss
frontend/web/styles/project/_lists.scss
frontend/web/styles/project/_modals.scss
frontend/web/styles/project/_panel.scss
frontend/web/styles/project/_popover.scss
frontend/web/styles/project/_project-nav.scss
frontend/web/styles/project/_segments.scss
frontend/web/styles/project/_spacing-utils.scss
frontend/web/styles/project/_tags.scss
frontend/web/styles/project/_tooltips.scss
frontend/web/styles/project/_type.scss
frontend/web/styles/project/_utils.scss
frontend/web/styles/styles.scss
frontend/webpack/loaders.js
frontend/webpack/pages.js
frontend/webpack/plugins.js
frontend/webpack/webpack.config.analyse.js
frontend/webpack/webpack.config.django.prod.js
frontend/webpack/webpack.config.local.js
frontend/webpack/webpack.config.prod.js
